<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenshinToolkit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GenshinToolkit.Properties.Settings>
            <setting name="GamePath" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="CustomResEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomResW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomResH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderlessEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelfDestruct" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenUnityConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateInfoURI" serializeAs="String">
                <value>https://raw.githubusercontent.com/ohaiibuzzle/GSToolkit/senpai/static/versioninfo.json</value>
            </setting>
            <setting name="FullscreenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hyLabCookieString" serializeAs="String">
                <value>mi18nLang=en-us; _MHYUUID=dQw4w9WgXcQ-nev3r-g00na-giv3-y0u-up-...</value>
            </setting>
            <setting name="hyLabEventID" serializeAs="String">
                <value>e202102251931481</value>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckInOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Today" serializeAs="String">
                <value />
            </setting>
            <setting name="hyLabUserAgent" serializeAs="String">
                <value>Something/SomeVersion</value>
            </setting>
        </GenshinToolkit.Properties.Settings>
    </userSettings>
</configuration>